body{
    min-height:100vh;
    display: flex;
    flex-direction: column;
  }
footer{
margin-top: auto;
}
#theme-user{
margin-left:60%;
}
#promotion div{
max-width:520px;
background-color:rgb(187, 245, 215);
border-radius: 10px;
padding:2px 0px 2px 0px;
}
#promotion div h6{
  display:inline-block;
}
a{
text-decoration: none;
color:red;
}
.card-body button:hover a{
  color:white;
}
.card{
  width:20rem;
}
.navbar button{
  border : none;
  outline : none;
}
.moon-user{
  padding: 0px 8px;
}
body.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode .card {
  background-color: #333; /* Dark background color for cards */
  color: white; /* White text color for cards */
}
.credits button{
  color:black;
  width: 20rem; 
  height: 4rem;
}
.unavailable button{
  width: 30rem; 
  height: 8rem;
}
.unavailable button{
  color:red;
}
.unavailable button:hover{
  color:white;
}
@media(min-width:800px){
    #theme-user{
      margin-left:60%;
    }
  }
@media(max-width:546px){
    #theme-user{
      margin-left:50%;
    }
  }
@media(max-width:514px){
    #theme-user{
      margin-left:90px;
    }
    .navbar-toggler{
      margin-left:2px;
      padding-left:2px;
    }
    #promotion div{
        text-align:center;
        max-width:90%;
        padding-bottom:10px;
    }
    #promotion div h6{
      display:block;
    }
    .card{
      width:25rem;
    }
    .card p{
      margin-top:30px;
      margin-bottom:30px;
    }
    .card button{
      font-weight: bolder;
      padding:8px 8px;
    }
    .credits button{
      color:black;
      width: 90%; 
      height: 5rem;
    }
    .unavailable button{
      width:20rem;
      height: 8rem;
    }
  }
@media(max-width:768px){
    .center-card{
  display: flex;
  justify-content: center;
  align-items: center;
    }
  }
@media(min-width:768px){
    .center-last{
  display: flex;
  justify-content: center;
  align-items: center;
    }
  }
.ribbon {
   width: 96px;
  height: 150px;
  overflow: hidden;
  position: absolute;
    top: -4px;
  right: -4px;

}
.ribbon2 {
   width: 96px;
  height: 150px;
  overflow: hidden;
  position: absolute;
    top: -4px;
  right: -4px;

}
.ribbon__content {
  left: -25px;
  top: 30px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  display: block;
  width: 225px;
  padding:3px 0;
  background-color: #00aaa0;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}
.ribbon__content2 {
  left: -25px;
  top: 30px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  display: block;
  width: 225px;
  padding:3px 0;
  background-color: #e83535;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}
.ribbon::before {
  top: 0;
  left: 20px;
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #00aaa0;
  box-sizing: content-box;

}
.ribbon2::before {
  top: 0;
  left: 20px;
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #e83535;
  box-sizing: content-box;

}
.ribbon::after {
  bottom: 75px;
  right: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #00aaa0;
  
}
.ribbon2::after {
  bottom: 75px;
  right: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #e83535; 
}
.border-style{
--angle: 0deg;
border: 3px solid;
border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
animation: 1s rotate linear infinite;
}
@property --angle {
syntax: '<angle>';
initial-value: 0deg;
inherits: false;
}
@keyframes rotate {
to {
    --angle: 360deg;
}
}
